<header id="page-header">
  <a href="/">Recipes</a>
</header>

<article id="page-container">
  <h1>
    My Recipe Website
  </h1>

  <ul>
    <li>
      <a href="/pancakes">Pancakes</a>
    </li>

    <li>
      <a href="/tiramisu">Tiramisu</a>
    </li>

    <li>
      <a href="/teriyaki-chicken">Teriyaki Chicken Leg</a>
    </li>
  </ul>

</article>
