<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <meta charset="utf-8" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js" integrity="sha256-Pg1di+fBF53Rbh9oZR/FeD1xsFzTLC963lcac1D0ias=" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <header id="page-header">
      <a href="/">Recipes</a>
    </header>
    
    <article id="page-container">
      <h1>
        My Recipe Website
      </h1>
      
      <ul>
        <li>
          <a href="/pancakes">Pancakes</a>
        </li>
        
        <li>
          <a href="/tiramisu">Tiramisu</a>
        </li>
      </ul>
      
    </article>
    
    <script src="./script.js"></script>
  </body>
</html>