html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #FFCC90;
}

h1, h2{
  margin: 1rem 0;
}

#page-container {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  width: 100vw;

  font-family: "Futura", "Helvetica", san-serif;
  font-size: 18px;

  background: #fff;
}

#page-container .title {
}

#recipe-title{
  margin: 0;
  transform: translateY(-100%);
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
}

#column-container{
  display: flex;
  padding: 0 0.5rem;
  position: relative;
  top: -2.5rem;
}

.column{
  padding: 0 0.5rem;
}

#column-left{
  width: calc(100% / 3);
}

#column-right{
  width: calc(100% / 3 * 2);
}

#column-right #comments-container{
  border: 1px black solid;
  padding: 0.5rem;
}

#column-right #comments-container .comments{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  
  background: #FFEEDB;
}

.ingredients, .method-steps {
  color: rgb(100, 100, 100);
}

#serving-title, #ingredients-title {
  font-size: 1.3rem;
}

#ingredients-list{
  font-size: 1.1rem;
}

.ingredients {
  margin-bottom: 5px;
}

.title-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.title-image-container .title-image {
  width: 100%;
  height: auto;
  position: relative;
  top: -55px;
}